@import "../../assets/styles/offsets";
@import "../../assets/styles/colors";
@import "../../assets/styles/common";

.container {
  margin: var(--offset-md2);
  background-color: var(--background-color-form);
}

.header {
  margin-top: 1px;
  // background-color: var(--background-color-form) !important;
}
