/* Absolute Center Spinner */
.loaderLight, .loaderDark {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
  }
}

/* Transparent Overlay */
.loaderLight:before {
  background: radial-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.7)
  );

  background: -webkit-radial-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.7)
  );
}

.loaderLight:before {
  background: radial-gradient(
    rgba(1, 1, 1, 0.9),
    rgba(1, 1, 1, 0.7)
  );

  background: -webkit-radial-gradient(
    rgba(1, 1, 1, 0.9),
    rgba(1, 1, 1, 0.7)
  );
}