@import '../../../../assets/styles/offsets';

.loginForm {
    width: 282px;
    margin: 0 auto !important;
}

.forgotPassword {
    margin-top: var(--offset-xs);
    float: right;
}

.rememberCheckbox {
    margin-bottom: 0 !important;
    float: left;
}

.submitButton {
    width: 100%;
}