@import "../../../../assets/styles/offsets";
@import "../../../../assets/styles/colors";

.container {
  margin-top: var(--offset-md2);
  padding: var(--offset-md);
  background-color: var(--background-color-base);
  height: 100%;
}

.submitItem {
  text-align: right;
}
