@import "../../assets/styles/common";
@import "../../assets/styles/colors";
@import "../../assets/styles/offsets";

.main {
  min-width: var(--min-width);
}

// Из-за использования css констант реализоция стилей через js неудобна, приходится перебивать стили через important
.sider {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15)) !important;
  height: 100vh;
  margin-right: 1px;
}

.header {
  margin-bottom: 1px;
  padding: 0 var(--offset-md2) !important;
  height: var(--authorize-header-height) !important;
  background-color: var(--background-color-form) !important;
  width: 100%;
}

.subheader {
  margin-top: 1px;
  background-color: var(--background-color-form) !important;
}

.content {
  background-color: var(--background-color-base);
}

.buttonCollapsed {
  position: relative;
  top: var(--offset-xs);
}

.profile {
  position: relative;
  left: var(--offset-xs);
  float: right;
}

.about {
  position: relative;
  left: var(--offset-xs);
  float: right;
}
