@import "../../assets/styles/common";
@import "../../assets/styles/offsets";

.main {
  position: relative;
  min-width: var(--min-width);
}

// Из-за использования css констант реализоция стилей через js неудобна, приходится перебивать стили через important
.sider {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  min-height: 100vh;
  margin-right: 1px;
}

.header {
  position: relative;
  top: "50%";
  margin-bottom: 1px;
  padding: 0 var(--offset-md2) !important;
  height: var(--authorize-header-height) !important;
  width: 100%;
}

.buttonCollapsed {
  position: relative;
  top: var(--offset-xs);
}

.profile {
  position: relative;
  left: var(--offset-xs);
  float: right;
}

.about {
  position: relative;
  left: var(--offset-xs);
  float: right;
}
