@import "../../assets/styles/colors";
@import "../../assets/styles/common";
@import "../../assets/styles/offsets";

.form {
  border-radius: var(--form-border-radius);
  background-color: var(--background-color-base);
  margin: var(--offset-md);
}

.tabs {
  border-radius: var(--form-border-radius);
  padding: 0 var(--offset-md) !important;
  background-color: var(--background-color-base);

  & > div {
    margin-bottom: 0 !important;
  }
}
