@import "../../../../assets/styles/offsets";

.container {
  margin: 0 calc(-1 * var(--offset-sm));
}

.filter {
  width: 30% !important;
}

.search {
  display: flex;

  &Wide {
    max-width: 25%;
    min-width: 150px;
    flex: 1;
  }
}

.clear {
  margin-left: var(--offset-md);
}
