@import "../../assets/styles/offsets";

.forgotPasswordForm {
  width: 282px;
  margin: auto !important;
}

.rememberMeCheckbox {
  margin-bottom: 0 !important;
  float: left;
}

.submitButton {
  width: 100%;
}
