@import "../../assets/styles/colors";
@import "../../assets/styles/offsets";
@import "../../assets/styles/media";

.container {
  margin: var(--offset-md2);
  background-color: var(--background-color-form);
  border-radius: var(--form-border-radius);
}

.calendar {
  margin: 0 var(--offset-md) !important;
}
