.container {
    margin: auto;
    // height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
}

.img {
    height: 300px;
    width: auto;
}

.forgot-password {
    float: right;
}

.login {
    max-width: 300px;
}

    .submit {
        width: 100%;
    }

    .ant-col-rtl {
        float: left;
    }
  