@import "../../../../assets/styles/offsets";

.container {
  padding: var(--offset-xs) var(--offset-md);
}

.list {
  position: relative;
  min-height: 15vh;
  max-height: 40vh;
  overflow: auto;
  will-change: "transform";
}
