@import '../../assets/styles/offsets';
@import '../../assets/styles/colors';

$size: 60px;

.supportWidgets {
  position: fixed;
  right: var(--offset-md);
  bottom: var(--offset-md);
  cursor: pointer;
}

.hiddenSupport {
  display: none;
  visibility: hidden;
}

.supportBtn {
  height: $size;
  width: $size;
  display: block;
  border-radius: $size;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  text-align: center;

  svg {
    fill: var(--primary-color);
    transition: width .5s, height .5s, transform .5s;
  }

  &:hover {
    transition: width .2s, height .2s;

    height: $size + 5px;
    width: $size + 5px;
    box-shadow: 0 0 25px rgba(0,0,0,.13);

    svg {
      transform: rotate(10deg);
      opacity: 0.8;
    }
  }
}
