@import "../../../../assets/styles/offsets";
@import "../../../../assets/styles/common";

// TODO Переделать на прижатый к правому краю button и плавающий
.button {
  display: block !important;
  margin-left: auto;
  margin-right: 0;
}
