:root {
  --offset-xs: 4px;
  --offset-sm: 8px;
  --offset-md: 16px;
  --offset-md2: 24px;
  --offset-lg: 32px;
  --offset-lg2: 48px;
  --offset-xl: 64px;

  --field-container-offset: var(--offset-md) var(--offset-md) 1px
    var(--offset-md);
}
