@import "node_modules/antd/dist/antd.dark.less";

@color-100: #010101;
@color-80: #1f2023;
@color-60: #27292D;
@color-40: #2D2F34;
@color-20: #383B40;

.formWrapper {
  border-radius: 4px;
  padding: 16px;
  margin: 24px;
  background: @color-80;
}

// .background-100 {
//   background-color: @color-100;
// }

// .background-80 {
//   background-color: @color-80;
// }

// .background-60 {
//   background-color: @color-60;
// }

// .background-40 {
//   background-color: @color-40;
// }

// .background-20 {
//   background-color: @color-20;
// }


@background-color-base: @color-100;
@body-background: @color-100;
@primary-color: fade(@blue-6, 75%);
@text-color: fade(@white, 65%);
@page-header-tabs-tab-font-size: 14px;
@component-background: @color-80;
@layout-header-background: @color-80;
@layout-sider-background: @color-80;
@table-header-bg: @color-60;
@layout-body-background: @color-100;

.secondary {
  &-color {
    color: @text-color-secondary !important;
  }

  &-background {
    background: @color-60;
  }
}

.success {
  &-color {
    color: fade(@success-color, 75%) !important;
  }

  &-background {
    background: fade(@success-color, 75%);
  }
}

.error {
  &-color {
    color: fade(@error-color, 75%) !important;
  }

  &-background {
    background: fade(@error-color, 75%);
  }
}

.warning {
  &-color {
    color: fade(@warning-color, 75%) !important;
  }

  &-background {
    background: fade(@warning-color, 75%);
  }
}

.primary {
  &-color {
    color: fade(@blue-6, 75%) !important;
  }

  &-background {
    background: fade(@blue-6, 75%);
  }
}
