@import "node_modules/antd/dist/antd.less";

form {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  margin: 24px;
}

@layout-header-background: #fff;
@page-header-tabs-tab-font-size: 14px;
